Package: etckeeper
Version: 1.18.14-1
Architecture: all
Maintainer: Antoine Beaupré <anarcat@debian.org>
Installed-Size: 162
Depends: git | mercurial | brz | darcs, debconf (>= 0.5) | debconf-2.0, python3:any
Recommends: cron-daemon
Suggests: sudo
Section: admin
Priority: optional
Homepage: https://etckeeper.branchable.com/
Description: store /etc in git, mercurial, brz or darcs
 The etckeeper program is a tool to let /etc be stored in a git, mercurial,
 brz or darcs repository. It hooks into APT to automatically commit changes
 made to /etc during package upgrades. It tracks file metadata that version
 control systems do not normally support, but that is important for /etc, such
 as the permissions of /etc/shadow. It's quite modular and configurable, while
 also being simple to use if you understand the basics of working with version
 control.
